#body{
    background-color: palegoldenrod;
}
h1{
    font-size: 50px;
    margin-left: 45%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#myform{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#height{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#width{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#submit{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
#brushcolor
    {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
    }
#drawingplane{
    margin-left: 30%;
}

     

